.jstop {
    box-sizing: border-box;
    background-color: #fcfcfc;
}
.header {
    width: 1200px;
    height: 55px;
    margin: 0 auto;
}
.header h1{
    float : left;
    margin-top: -2.2px;
}
.header h1 a {
    display: block;
    width: 55px;
    height: 55px;
    text-indent: -9999px;
    background-position: -181px -32px;
    background: url(//cli-sta.guazistatic.com/c2c_web/gr-logo.572ab9991d7a29aa936f4a793ebb9047.png);
    background-size: 100% 100%;
}
.login{
    color : #495056;
    background-position:6px -212px ;
    line-height:16px;
    float : right;
    cursor: pointer;
    margin:19px 0 0 10px;
    font-size : 14px;
    padding-left: 24px;
    position: relative;
    padding-bottom:11px
}
.header-phone {
    float: right;
    color: #181818;
    font-size: 14px;
    line-height: 16px;
    padding: 0 15px 0 0;
    margin-top: 19px;
    margin-left: 30px;
    border-right: 1px solid #181818;
}
.nav-list {
    float: right;
    width: 700px;
    height: 42px;
    padding-top: 7px;
}
.nav-list a {
    float: right;
    line-height: 40px;
    margin: 0 20px;
    font-size: 14px;
    color: #181818;
}
.nav-list a:hover{
    color : #abcdef
}
#rcDialogTitle0{
    line-height: 100px;
    font-size: 30px;
    color: #495056;
}
#components-form-demo-normal-login .login-form {
    max-width: 300px;
  }
#components-form-demo-normal-login .login-form-forgot {
float: right;
}
#components-form-demo-normal-login .login-form-button {
width: 100%;
}
.ant-form-item-control {
    position: relative;
    line-height: 40px;
    zoom: 1;
    padding: 0 80px;
}
#btn{
    width: 50%;
    margin-left: 70px;
}